{% extends 'base.html' %}

{% block title %}

{{ year }}

{% endblock %}

{% block content %}

<div class="card shadow-lg">

<img
src="{{ url_for('static', filename='img/' + history.image) }}"
class="card-img-top"
style="height:350px;object-fit:cover;">

<div class="card-body">

<h2>

{{ year }}

-

{{ history.title }}

</h2>

<hr>

<div class="history-section">

    <h5 class="section-title">
        📍 Lokasi
    </h5>

    <p class="history-text">
        {{ history.location }}
    </p>

    <h5 class="section-title mt-4">
        💡 Fakta Menarik
    </h5>

    <p class="fact-box">
        {{ history.fact }}
    </p>

    <h5 class="section-title mt-4 mb-2">
        📖 Sejarah
    </h5>

    <div class="history-content">
        {{ history.content }}
    </div>

</div>

<a
href="/list"
class="btn btn-primary">

← Kembali

</a>

</div>

</div>

{% endblock %}