{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="card p-5 mb-5">

<h1 class="display-4">

🌐 History of Internet of Things

</h1>

<p class="lead">

Pelajari tentang perkembangan Internet of Things.

</p>

</div>

<div class="row">

<div class="col-md-4">

<div class="card shadow">

<div class="card-body text-center">

<i class="bi bi-calendar fs-1 text-primary"></i>

<h2>1960</h2>

Awal IoT

</div>

</div>

</div>

<div class="col-md-4">

<div class="card shadow">

<div class="card-body text-center">

<i class="bi bi-wifi fs-1 text-success"></i>

<h2>8</h2>

Peristiwa

</div>

</div>

</div>

<div class="col-md-4">

<div class="card shadow">

<div class="card-body text-center">

<i class="bi bi-globe fs-1 text-danger"></i>

<h2>2026</h2>

Era Modern

</div>

</div>

</div>

</div>

{% endblock %}