{% extends 'base.html' %}

{% block title %}

History

{% endblock %}

{% block content %}

<h2 class="mb-4">

📜 Timeline Sejarah Internet of Things

</h2>

<div class="list-group shadow">

<a href="/history/1982" class="list-group-item list-group-item-action">

<h5>1982</h5>

Mesin Coca-Cola pertama yang terhubung ke internet

<small class="text-primary">

Baca Selengkapnya →

</small>

</a>

<a href="/history/1990" class="list-group-item list-group-item-action">

<h5>1990</h5>

Internet Toaster

<small class="text-primary">

Baca Selengkapnya →

</small>

</a>

<a href="/history/1999" class="list-group-item list-group-item-action">

<h5>1999</h5>

Kevin Ashton memperkenalkan IoT

<small class="text-primary">

Baca Selengkapnya →

</small>

</a>

<a href="/history/2005" class="list-group-item list-group-item-action">

<h5>2005</h5>

ITU mempopulerkan IoT

<small class="text-primary">

Baca Selengkapnya →

</small>

</a>

<a href="/history/2015" class="list-group-item list-group-item-action">

<h5>2015</h5>

Smart Home

<small class="text-primary">

Baca Selengkapnya →

</small>

</a>

<a href="/history/2020" class="list-group-item list-group-item-action">

<h5>2020</h5>

Era Industri 4.0

<small class="text-primary">

Baca Selengkapnya →

</small>

</a>

</div>

{% endblock %}