{% extends 'base.html' %}

{% block title %}

History

{% endblock %}

{% block content %}

<h2 class="mb-4">

📜 Timeline Sejarah Internet of Things

</h2>

<div class="list-group shadow">

<a href="/history/1960-1969" class="list-group-item list-group-item-action">

<h5>1960-1969</h5>

Awal Mula Konsep Jaringan Komputer

<small class="text-primary">

Baca Selengkapnya →

</small>

</a>

<a href="/history/1982" class="list-group-item list-group-item-action">

<h5>1982</h5>

Mesin Coca-Cola Menjadi Perangkat IoT Pertama

<small class="text-primary">

Baca Selengkapnya →

</small>

</a>

<a href="/history/1990" class="list-group-item list-group-item-action">

<h5>1990</h5>

Internet Toaster

<small class="text-primary">

Baca Selengkapnya →

</small>

</a>

<a href="/history/1991-1998" class="list-group-item list-group-item-action">

<h5>1991-1998</h5>

Embedded System dan Wireless Sensor

<small class="text-primary">

Baca Selengkapnya →

</small>

</a>

<a href="/history/1999" class="list-group-item list-group-item-action">

<h5>1999</h5>

Lahirnya Istilah Internet of Things (IoT)

<small class="text-primary">

Baca Selengkapnya →

</small>

</a>

<a href="/history/2010-2013" class="list-group-item list-group-item-action">

<h5>2010-2013</h5>

Era Smartphone dan Cloud Computing

<small class="text-primary">

Baca Selengkapnya →

</small>

</a>

</div>

{% endblock %}